* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e1e5f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.users-list-app {
  width: 61%;
  height: 80%;
  background-color: #ffffff;
  box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
}

.users-list-area {
  width: 44%;
  height: auto;
  padding: 35px;
  border-right: 2px solid #f4f4f4;
}
.users-list-area h2 {
  margin: 0px 0px 35px 10px;
  align-self: start;
}
.users-list-area .users-list {
  width: auto;
  height: auto;
  margin-left: 1px;
  max-height: 83%;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgba(225, 229, 240, 0.2);
  border-radius: 25px;
  box-shadow: 0px 0px 56px rgba(225, 229, 240, 0.5);
}
.users-list-area .users-list .user-item {
  padding: 0px 10px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.users-list-area .users-list .user-item:hover {
  cursor: pointer;
  transform: scale(1.01);
  text-shadow: 3px 3px 11px rgba(0, 0, 0, 0.3);
}
.users-list-area .users-list .user-item:not(:last-child) {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 15px;
}
.users-list-area .users-list .user-item figure {
  margin: 0;
  display: flex;
  gap: 20px;
}
.users-list-area .users-list .user-item figure img {
  width: 53px;
  border-radius: 50%;
}
.users-list-area .users-list .user-item figure figcaption {
  display: flex;
  flex-direction: column;
}
.users-list-area .users-list .user-item figure figcaption span:first-child {
  color: #424041;
  font-weight: 700;
  font-size: 17px;
}
.users-list-area .users-list .user-item figure figcaption span:last-child {
  color: #898586;
  font-size: 15px;
}

.selected-user-area {
  width: 56%;
  height: auto;
  padding: 35px 45px;
  background-color: #ffffff;
  border-radius: 12px;
  position: relative;
}
.selected-user-area div.loader {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  background-color: #ffffff;
  width: calc(100% - 90px);
  height: calc(100% - 70px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.selected-user-area div.loader span {
  font-size: 18px;
  animation: loading 1s alternate infinite ease-in-out;
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}
@keyframes loading {
  0% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(7px);
  }
}
.selected-user-area .selected-user-block {
  width: 100%;
  height: auto;
  position: relative;
}
.selected-user-area .selected-user-block .close-btn {
  position: absolute;
  right: 0;
  padding: 2px 8px;
  font-weight: 600;
  font-size: 21px;
  border: none;
  border-radius: 50%;
  background-color: rgba(137, 133, 134, 0.1);
  box-shadow: 2px 2px 5px rgba(137, 133, 134, 0.2);
}
.selected-user-area .selected-user-block .selected-user-item {
  padding: 0px 10px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 35px;
}
.selected-user-area .selected-user-block .selected-user-item figure {
  margin: 0;
  display: flex;
  gap: 20px;
}
.selected-user-area .selected-user-block .selected-user-item figure img {
  width: 59px;
  border-radius: 50%;
}
.selected-user-area .selected-user-block .selected-user-item figure figcaption {
  display: flex;
  flex-direction: column;
}
.selected-user-area .selected-user-block .selected-user-item figure figcaption span:first-child {
  color: #424041;
  font-weight: 700;
  font-size: 20px;
}
.selected-user-area .selected-user-block .selected-user-item figure figcaption span:last-child {
  color: #898586;
  font-size: 16px;
}
.selected-user-area .selected-user-block .more-info-area ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.selected-user-area .selected-user-block .more-info-area ul li {
  display: flex;
  flex-direction: row;
}
.selected-user-area .selected-user-block .more-info-area ul li span {
  color: #898586;
  width: 50%;
  height: auto;
}

/*# sourceMappingURL=styles.css.map */
