@use 'config' as *;  
 
* {
    box-sizing: border-box;
}

body {
    @include set-size(100%, 100vh);
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $main-background-color;
    @include flex-container(row, center, center);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.users-list-app {
    @include set-size(61%, 80%);
    background-color: $background-color;
    box-shadow: 0px 0px 65px rgba(0, 0, 0, .1);
    border-radius: 12px;
    display: flex;
}

.users-list-area {
    @include set-size(44%, auto);
    padding: 35px;
    border-right: 2px solid $border-color;
    h2 {
        margin: 0px 0px 35px 10px;
        align-self: start;
    }
    .users-list {
        @include set-size(auto, auto);
        margin-left: 1px;
        max-height: 83%;
        overflow-y: auto;  
        scrollbar-width: none; 
        @include flex-container(column, null, null, 30px);
        background-color: rgba($main-background-color, .2);
        border-radius: 25px;
        box-shadow: 0px 0px 56px rgba($main-background-color, .5);
        .user-item {
            &:hover {
                cursor: pointer;
                transform: scale(1.01);
                text-shadow: 3px 3px 11px rgba(0, 0, 0, .3);
            }
            &:not(:last-child) {
                border-bottom: 2px solid $background-color;
                padding-bottom: 15px;
            }
            @include user-item(53px, 17px, 15px);
        }
    }
}



.selected-user-area {
    @include set-size(56%, auto);
    padding: 35px 45px;
    background-color: $background-color;
    border-radius: 12px;
    position: relative;
    div.loader {
        visibility: hidden;
        position: absolute;
        z-index: 10;
        background-color: $background-color;
        @include set-size(calc(100% - 90px), calc(100% - 70px));
        @include flex-container(row, center, center);
        span {
            font-size: 18px;    
            animation: loading 1s alternate infinite ease-in-out; 
            text-shadow: 4px 4px 7px rgba(0, 0, 0, .3);
        }
        @keyframes loading {
            0% {
                transform: translateY(-7px);
            }
            100% {
                transform: translateY(7px);
            }
        }
    }
    
    .selected-user-block {
        @include set-size(100%, auto);
        position: relative;
        display: none;
        .close-btn {
            position: absolute;
            right: 0;
            padding: 2px 8px;
            font-weight: 600;
            font-size: 21px;
            border: none;
            border-radius: 50%;
            background-color: rgba($main-color, .1);
            box-shadow: 2px 2px 5px rgba($main-color, .2);
        }
        .selected-user-item {
            @include user-item(59px, 20px, 16px);
            margin-bottom: 35px;
        }
        .more-info-area {
            ul {
                @include set-size(100%, auto);
                @include flex-container(column, null, null, 20px);
                li {
                    @include flex-container(row);
                    span {
                        color: $main-color;
                        @include set-size(50%, auto);
                    }
                }
            }
        }
    }
}